<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-icon">
            <i class="fas fa-user-cog"></i>
        </div>
        <div class="sidebar-brand-text mx-2">CV FAJAR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Master
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/petani">
            <i class="fas fa-fw fa-users"></i>
            <span>Petani</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/barang">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Barang</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/kategori">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Kategori</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/stok_barang">
            <i class="fas fa-fw fa-warehouse"></i>
            <span>Stok Barang</span></a>
    </li>

    <!-- Order -->
    <div class="sidebar-heading">
        Order
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/penjualan">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Penjualan</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/detail_penjualan">
            <i class="fas fa-fw fa-cash-register"></i>
            <span>Detail Penjualan</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->